* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  
  :root {
    --primary-color: #f7fdfc;
    --secondary-color: #ffffff;
    --cl-green: #2ec4b6;
    --black-color: black;
  }
  
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--primary-color);
  }
  
  .wrapper {
    display: flex;
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
  }
  
  .main-content {
    margin-inline-start: 140px;
    margin-block-start: 205px;
    min-width: 460px;
    min-height: 275px;
  }
  
  .main-content img {
    width: 77.33px;
    height: 80px;
  }
  
  .main-content .article h1 {
    width: 300px;
    height: 50px;
    font-size: 39px;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
  }
  
  .main-content .article p {
    width: 460px;
    height: 75px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
  }
  
  .side-content {
    margin-inline-start: 120px;
    margin-block-start: 81px;
    background: var(--secondary-color);
    width: 580px;
    height: 679px;
    border-radius: 6px;
    box-shadow: 0 4px 50px 0 rgba(4, 8, 19, 0.1);
  }
  
  #form {
    font-family: "Sofia Sans Condensed", sans-serif;
    margin-left: 40px;
  }
  
  .form-display-wrap {
    display: flex;
    gap: 15px;
  }
  
  .form-display-wrap .leftside-form {
    margin-inline-start: 0;
    margin-block-start: 40px;
  }
  
  .form-display-wrap .rightside-form {
    margin-block-start: 40px;
  }
  
  .form-group {
    width: 238px;
    height: 72px;
    margin-bottom: 30px;
  }
  
  .form-group label {
    width: 238px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .form-group input {
    width: 238px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
  }
  
  .form-group select {
    width: 238px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
  }
  
  .form-span {
    width: 500px;
    height: 72px;
    margin-bottom: 30px;
  }
  
  .form-span label {
    font-size: 14px;
    font-weight: 600;
  }
  
  .form-span input {
    width: 500px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
  }
  
  .form-span select {
    width: 500px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
  }
  
  .submit-form {
    width: 500px;
    height: 48px;
  }
  
  .submit-form input {
    width: 500px;
    height: 48px;
    background-color: var(--cl-green);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 16px;
  }
  
  .termsof-use p {
    width: 465px;
    height: 25px;
    margin-left: 60px;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
  }
  
  #text2::placeholder {
    width: 170px;
    height: 20px;
    padding-left: 16px;
  }
  
  #text3::placeholder {
    width: 170px;
    height: 20px;
    padding-left: 16px;
  }
  
  a {
    color: #2ec4b6;
  }
  
  .fa-eye {
    position: relative;
    left: 460px;
    bottom: 30px;
  }
  
  @media (max-width: 564px) {
    .wrapper {
      flex-direction: column;
      margin-left: 100px;
      margin-right: 100px; /* Center the wrapper */
    }
  
    .main-content {
      margin-inline-start: 0;
      margin-block-start: 20px;
      min-width: auto; /* Adjust as needed */
      min-height: auto; /* Adjust as needed */
    }
  
    .main-content img {
      width: auto;
      height: auto;
    }
  
    .main-content .article h1,
    .main-content .article p {
      width: auto;
      font-size: 16px; /* Adjust as needed */
      margin-top: 20px; /* Adjust as needed */
    }
  
    .side-content {
      margin-inline-start: 0;
      margin-block-start: 20px;
      width: auto; /* Adjust as needed */
      height: auto; /* Adjust as needed */
      /* margin-left: 30px; */
    }
  
    .form-display-wrap {
      flex-direction: column;
      gap: 15px;
    }
  
    .logo img {
      width: 42px; 
      height: 45px;
      margin-top: 75px;
      margin-left: 24px;
    }
    .main-content .article h1 {
      font-size: 30px; 
      margin-top: 15px;
      margin-left: 25px;
      width: 327px;
      margin-top: 30px;
    }
  
    .main-content .article p {
      font-size: 16px;
      margin-left: 25px;
      visibility: hidden;
    }
  
    .main-content .article p::before {
      content: "Inspiring wholesome harmony for the mind, body, and spirit, for everyone, everywhere.";
      visibility: visible;
    }
  
    .form-group input, .form-span input, .form-span select, .submit-form #register{
      width: 295px;
      height: 48px;
      margin-left: -13px;
    }
    .fa-eye {
      position: absolute;
      transform: translate(-70px, 530px);
      }
  
      .termsof-use p{
          width: 316px;
          height: 50px;
          margin-left: 30px;
          text-align: center;
        }
  }
  
  
  
  @media (max-width: 376px) {
    .logo img {
      width: 42px; 
      height: 45px;
      margin-top: 75px;
      margin-left: 24px;
    }
    .main-content .article h1 {
      font-size: 30px; 
      margin-top: 15px;
      margin-left: 25px;
      width: 327px;
      margin-top: 30px;
    }
  
    .main-content .article p {
      font-size: 16px;
      margin-left: 25px;
      visibility: hidden;
    }
  
    .main-content .article p::before {
      content: "Inspiring wholesome harmony for the mind, body, and spirit, for everyone, everywhere.";
      visibility: visible;
    }
    .form-display-wrap {
      gap: -10px; 
    }
  
    #form {
      width: 375px;
    }
    .side-content {
      margin-left: 25px;
    }
  
    .form-group, .form-span{
      margin-bottom: 5px;
    }
    .form-group input, .form-span input, .form-span select, .submit-form #register{
      width: 295px;
      height: 48px;
      margin-left: -13px;
    }
    .form-group select{
      width: 295px;
      height: 48px;
      margin-left: -13px;
    }
  
    .form-group label, .form-span label{
      font-size: 14px;
      margin-left: -13px;
      line-height: 14px;
    }
    #text2::placeholder, #text3::placeholder{
      padding-left: 0;
    }
  
    .fa-eye {
    position: absolute;
    transform: translate(-50px, 400px);
    }
  
    .termsof-use p{
      width: 316px;
      height: 50px;
      margin-left: 23px;
      text-align: center;
      font-size: 14px;
    }
  }